.booking-data-container {
  background-color: #f5f5f5;
  margin: 20px;
  padding: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border-radius: 14px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.booking-data-title {
  color: #333333;
  margin-bottom: 20px;
}

.booking-table {
  width: 100%;
  border-collapse: collapse;
}

.booking-table th,
.booking-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.booking-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.booking-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.booking-table tbody tr:hover {
  background-color: #ddd;
}

.booking-table td:last-child,
.booking-table th:last-child {
  width: 10%;
}

.booking-table td button {
  padding: 5px 15px;
  color: red;
  border: none;
  border-radius: 6px;
  border: 1px solid red;
  cursor: pointer;
  margin: 2px;
}

.booking-table td button:hover {
  background-color: #cc0000;
  color: white;
}

.table-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: overlay;
}

.booking-table thead,
.booking-table tbody {
  display: contents;
}

.booking-table thead {
  text-align: center;
}

.booking-table tbody {
  max-height: 400px;
  overflow-y: auto;
}

.date-picker-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-picker-container label {
  font-weight: bold;
  margin-right: 10px;
}

.date-picker-container input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin-left: 15px;
  background-color: #f9f9f9;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.date-picker-container input[type="date"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin-left: 15px;
}

.search-container button {
  padding: 8px;
  color: #000000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 5px;
  border: 1px solid #cccccc;
}

.search-container button:hover {
  background-color: #cccccc;
  color: blue;
}

button:disabled {
  color: #999;
  background-color: #ccc;
  border: 1px solid #aaa;
  cursor: not-allowed;
}

.search-export-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 15px;
}

.export-container button {
  padding: 15px 10px;
  border-radius: 6px;
  background-color: rgb(60, 235, 60);
  color: black;
  font-weight: 600;
  border: none;
  font-size: 0.7rem;
  cursor: pointer;
  border: 2px solid black;
}
